<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.xebia.devoxx.be" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="fr.xebia.devoxx.be.core.KouignAmanApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="fr.xebia.devoxx.be.ui.HomeActivity"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- NFC -->
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.ACTION_TAG_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.ACTION_TECH_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="fr.xebia.devoxx.be.ui.talk.TalkActivity"
            android:parentActivityName="fr.xebia.devoxx.be.ui.HomeActivity"
            android:theme="@style/Theme.Companion.TalkDetails" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fr.xebia.devoxx.be.ui.HomeActivity" />
        </activity>
        <activity android:name="fr.xebia.devoxx.be.ui.schedule.MyScheduleActivity" />
        <activity
            android:name="fr.xebia.devoxx.be.ui.speaker.SpeakerDetailsActivity"
            android:parentActivityName="fr.xebia.devoxx.be.ui.speaker.SpeakerActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fr.xebia.devoxx.be.ui.speaker.SpeakerActivity" />
        </activity>
        <activity
            android:name="fr.xebia.devoxx.be.ui.browse.BrowseTalksActivity"
            android:parentActivityName="fr.xebia.devoxx.be.ui.schedule.MyScheduleActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fr.xebia.devoxx.be.ui.schedule.MyScheduleActivity" />
        </activity>
        <activity android:name="fr.xebia.devoxx.be.ui.speaker.SpeakerActivity" />
        <activity
            android:name="fr.xebia.devoxx.be.ui.note.MemoActivity"
            android:parentActivityName="fr.xebia.devoxx.be.ui.talk.TalkActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fr.xebia.devoxx.be.ui.talk.TalkActivity" />
        </activity>
        <activity android:name="fr.xebia.devoxx.be.ui.settings.SettingsActivity" />
        <activity android:name="fr.xebia.devoxx.be.ui.conference.ConferenceChooserActivity" />
        <activity android:name="fr.xebia.devoxx.be.ui.question.QuestionsActivity" />
        <activity android:name="fr.xebia.devoxx.be.ui.timeline.TimelineActivity" />

        <service android:name="fr.xebia.devoxx.be.service.SynchroIntentService" />
        <service android:name="fr.xebia.devoxx.be.service.ConferencesFetcherIntentService" />
        <service android:name="fr.xebia.devoxx.be.service.NotificationSchedulerIntentService" >
            <intent-filter>
                <action android:name="fr.xebia.devoxx.be.service.ACTION_SCHEDULE_NOTIFICATION" />
            </intent-filter>
            <intent-filter>
                <action android:name="fr.xebia.devoxx.be.service.ACTION_SEND_NOTIFICATION" />
            </intent-filter>
            <intent-filter>
                <action android:name="fr.xebia.devoxx.be.service.ACTION_SEND_FEEDBACK_NOTIFICATION" />
            </intent-filter>
        </service>
        <service android:name="fr.xebia.devoxx.be.service.SendRatingIntentService" >
            <intent-filter>
                <action android:name="fr.xebia.devoxx.be.service.ACTION_SEND_RATING" />
            </intent-filter>
        </service>
        <service android:name="fr.xebia.devoxx.be.service.WearListenerService" >
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />
            </intent-filter>
            <intent-filter>
                <action android:name="fr.xebia.devoxx.be.service.ACTION_NOTIFICATION_DISMISSAL" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="185c4c6c60101aba83215fcbd80cae097ede3e0b" />

    </application>

</manifest>
